html {
    background:
        linear-gradient(red, transparent),
        linear-gradient(to top left, lime, transparent),
        linear-gradient(to top right, blue, transparent);
    background-blend-mode: screen;
}

/* formatting */

header{
    border: solid;
    border-color: black;
    background-blend-mode: soft-light;
    border-radius: 25px;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    border-width: thick;
    background-color: #F9F5F1;
/*
    margin-left: 20%;
    margin-right: 20%;
*/
}

section,
aside,
footer {
    margin: 0 1.5% 24px 1.5%;
}

section {
    margin-top: 20px;
    float: left;
    width: 63%;
    margin-left: 1%;
    border: solid;
    border-width: thick;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    background opacity: .25;
    border-radius: 25px;
    background-color: #a1d471;
}

aside {
    float: right;
    width: 30%;
    border: solid;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    background-image: url("https://i.imgur.com/Oya6hs5.gif");
    height: 370px;
    border-radius: 25px;
    margin-top: -40px;
    align-content: center;
}
footer {
    clear: both;
    margin-bottom: 0;
    color: #648880;

}

/* text blocks */




h2 {
    font-size: 70px;
    font-family: Georgia, Times, "Times New Roman", serif;
/*
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
*/
    text-align: center;
    display: inline;
	position: relative;
    letter-spacing: -5px;
	color: rgba(0,0,255,0.5); 
}

h2:after {
    content: "Twiddler";
	position: absolute; left: 1px; top: 2px;
	color: rgba(255,0,0,0.5);   
}

h3 {
    margin-top: 10px;
    font-size: 10px;
}

h4 {
    font-size: 50px;
    display: inline;
	position: relative;
    letter-spacing: -5px;
	color: rgba(0,0,255,0.5);
    border-radius: 25px;
    background color: white;
    border: solid;
    border-width: thick;
    border-color: black;
    background-color: #F9F5F1;
    margin-left: 30px;
}

h4:after {
    content: "Twiddler";
	position: absolute; left: 1px; top: 2px;
	color: rgba(255,0,0,0.5);   
}

h5 {
    font-size: 25px;
    text-align: center;
    font-family: Georgia, Times, "Times New Roman", serif;
    margin-bottom: 30px;
    display: inline;
    color: black;
    margin-top: 20px;
    margin-left: 5%;
}

h6 {
    text-align: right;
    font-size: 10px;
    color: black;
}

h7 {
    text-align: right;
    font-size: 10px;
    font-family: 'Papyrus', fantasy;
}

h8{
    font-size: 40px;
    display: inline;
	position: relative;
    letter-spacing: -5px;
	color: rgba(0,0,255,0.5);
    border-color: black;
    border: solid;
    border-top-left-radius: 23px;
    background-color: #F9F5F1;
    border-color: black;
    margin-bottom: 20px;
}

h8:after {
    content: "Wanna Twiddle";
	position: absolute; left: 1px; top: 2px;
	color: rgba(255,0,0,0.5);   
}


/*title bar above tweet */

#twiddleTitle {
    text-align: 50%;
    font-feature-settings: normal;
    border-width: thick;
    margin-top: 20px;
   
}

/* tweet */


#stream {
    margin-left: -20%;
    height: 400px;
    overflow-y: scroll;
}

.date {
    opacity: .5;
    text-align: right;
    font-size: 8px;
}

.userName {
    text-align: left;
    font-weight: 600;
    line-height: 22px;
    font: 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #648880;
}

.userName:hover {
    color: #a9b2b9;
    transition:400ms ease all;
}

.tweet {
    margin-left: 20%;
    margin-right: 3%;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    border-width: thick;
    height: 30px;
    margin-top: 15px;
    border: solid;
    text-align: center;
    border-collapse: inherit;
    background: #F9F5F1;
    border-radius: 10px;
    font-family: Georgia, Times, "Times New Roman", serif;
}
    
.tweet:hover {
    background-color: yellow;
    transition:400ms ease all;
}
    
/*
    
    
    
  background: tan;
  padding: 20px; 
  width: 600px;
  height: 40px; 
    border-style: outset;
    

*/
}

/*left-pannel*/


#twiddleEntry {
    align-content: center;
}



#signInEntry {
}

/* button */

button{
    background: skyblue;
    color: black;
    border:outset;
    border-radius: 10px;
    border-color: black;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    position:relative;
    height:30px;
    font-size:1em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    text-align: center;
    align-content: center;
}

button:hover{
    background: 00FFFF;
    color:gray;
}

button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
}