html {
    background-color: tan;
    background-position: center;
    font-family: 'courier' thick;
    background: white;
}


body {
    margin: 10px;
}

#main {
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    border-radius: 25px;
    background: gray;
    background-blend-mode: soft-light;
    border: thick;
    border color: black;
    margin-left 20px;
}


#header { 
   

}



textarea {
    width: 200px;
    height: 15px;
    text-align: 300px;
}


p {
  font-size: 24px;
}

h2 {
    font-size: 100px;
    text-align: center;
    color: black;
    margin-top: 100px;
    font-family: 'Papyrus', fantasy;
}

h3 {
    margin-top: 10px;
    font-size: 10px;
}

h5 {
    font-size: 25px;
    text-align: center;
    font-family: courier;
    margin-bottom: 30px;
    display: inline;
    border: solid;
    border-color: white;
    background: black;
    color: white;
    font-family: 'Papyrus', fantasy;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    
}

h6 {
    text-align: right;
    font-size: 10px;
    color: black;
}

h7 {
    margin: center;
    font-size: 10px;
}

#stream {
    margin: auto;
    margin-bottom: 15px;
}

#twiddleEntry {
    margin-right 100px;
    margin-bottom: 30px;
    margin-top: auto;
    margin-left: inherit;
    text-align: right;
}




#signInEntry {
    margin-right 100px;
    margin-bottom: 30px;
    margin-top: auto;
    margin-left: inherit;
    text-align: left;
}

.tweet {

    border-radius: 25px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: skyblue;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    border-width: thick;
    height: 40px;
    margin-top: 15px;
    border: solid;
    text-align: left;
    
    
/*
    
    
    
  background: tan;
  padding: 20px; 
  width: 600px;
  height: 40px; 
    border-style: outset;
    

*/
}

button{
    background: skyblue;
    color: black;
    border:outset;
    border-radius: 25px;
    border-color: black;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    position:relative;
    height:30px;
    font-size:1em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    text-align: center;
}

button:hover{
    background: 00FFFF;
    color:gray;
}
button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
}


#refresh {
    text-align: center;
    margin-bottom: 20px;
    margin-top: auto;
}

#twiddleTitle {
    text-align: center;
    font-feature-settings: normal;
    border: thick;
}


.date {
    opacity: .5;
    text-align: right;
    font-size: 8px;
    border-style: 1px  outset  #d2e3ed;
}